{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/todolist_create.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-5">Create a new To-Do List</h1>
    <form method="POST" class="form-group">
        {% csrf_token %}
        <input type="text" placeholder="Todo Title..." name="title" class="todo-title" required>
        <div class="item-container" id="1">
            <button type="button" class="add-item" id="1">+</button>
        </div>
        <div class="button-container">
            <button type="submit" class="create-submit">submit</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/todolist_create.js' %}"></script>
{% endblock %}