{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/todolist_edit.css' %}">
{% endblock %}

{% block heade %}
<header><button><a href="{% url 'todolist_edit' lists.pk %}"></a>edit</button></header>
{% endblock %}

{% block content %}

<h1>{{ lists.title }}</h1>
<div class="checkbox-container">
  {% for td in items %}
  <form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="item_id" value="{{ td.id }}">
    <div>
      <input
        type="checkbox"
        id="item-{{ td.id }}"
        name="is_completed"
        onchange="this.form.submit()"
        {% if td.is_completed %}checked{% endif %}>
      <label for="item-{{ td.id }}">{{ td.title|default:"(no title)" }}</label>

      {% if td.end_date %}
        <i>deadline : {{ td.end_date|date:"n / j / Y" }}</i>
      {% endif %}
    </div>
  </form>
  {% empty %}
    <a class="add-todo" href="{% url 'todolist_create' %}">+ Add ToDos</a>
  {% endfor %}
</div>

{% endblock %}
